body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div{
    background-color: darkkhaki;
    box-shadow: 2px 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    border-radius: 2px;
    padding: 10px;
}
h1 {
    color: #333;
    margin: 20px;
    font-size: 2em;
    text-align: center;
}

label {
    font-size: 1.1em;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    
}

input[type="datetime-local"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 10px 40px;
    outline: none;

}

input[type="datetime-local"]:focus {
    border-color: #5b9bd5;
}

button {
    padding: 10px ;
    background-color: #5b9bd5;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin: 10px 50px;
}

button:hover {
    background-color: #4a8cb6;
}

#timer {
    font-size: 2.5em;
    font-weight: bold;
    color: #d9534f;
    margin-top: 20px;
}

#currentDate {
    font-size: 1em;
}
